* {
    /* We will pad things to the exact dimentions we need them */
    margin: 0;
}

/* Add the class for rendering the toki pona font */
@font-face {
    font-family: "linjapona";
    src: url("../fonts/linja-pona-4.9.otf") format('opentype'),
}

.tp {
    font-size: 32px;
    font-weight: bold;
    font-family: "linjapona";
}

body {
    background-color: lightcyan;
    font-size: 24px;
    margin: 0 auto;
    width: 75%;
}

/*
    The border-radius property controls rounding of an element's corners.
    "flex" is shorthand for "...-grow ...-shrink ...-basis"
    "border" is shorthand for "...-width ...-style ...-color"
    "margin" is shorthand for "...-top ...-right ...-bottom ...-left"
    "padding" is shorthand for "...-top ...-right ...-bottom ...-left"
*/

/* Grid layout of webpage */
.grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.eng_text {
    grid-column: 1 / 3;
    grid-row: 1;
}

.steve_one {
    grid-column: 3;
    grid-row: 1;
}

.steve_two {
    grid-column: 1;
    grid-row: 2;
}

.tp_text {
    grid-column: 2 / 4;
    grid-row: 2;
}

/* Borders of elements */
.eng_text,
.tp_text {
    border: 4px solid black;
    padding: 16px;
}

/* Center steves */
.steve_one,
.steve_two {
    margin: 0 auto;
}

/* Make links look better */
nav a {
    color: blue;
    text-decoration: none;
}