* {
    padding: 0;
    margin: 0;
    color: white;
}

/* Add the class for rendering the toki pona font */
@font-face {
    font-family: "linjapona";
    src: url("../fonts/linja-pona-4.9.otf") format('opentype'),
}

.tp {
    font-size: 32px;
    font-weight: bold;
    font-family: "linjapona";
}

#logo {
    border: 4px solid black;
    border-radius: 25%;
}

:is(nav, footer) {
    background-color: #121214;
    border: 8px solid black;
    border-radius: 8px;
    padding: 8px;
}

:is(.eng_text, .tp_text) {
    background-color: #242429;
    border: 4px dashed black;
    padding: 16px;
}

nav {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 96px;
    display: flex;
    padding: 16px;
    gap: 8px;
}

nav a {
    font-family: monospace;
    border-radius: 16px;
    padding-inline: 32px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
}

nav a:hover {
    background-color: white;
    color: black;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #1a1a1e;
    font-size: 24px;
    margin: 0 auto;
    width: 75%;
}

main {
    width: 85%;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

footer {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#title {
    margin: 32px;
    text-align: center;
    font-size: 96px;

    text-shadow:
        2px 2px 4px black,
        -2px -2px 4px black,
        2px -2px 4px black,
        -2px 2px 4px black,
        2px 2px 4px black,
        -2px -2px 4px black,
        2px -2px 4px black,
        -2px 2px 4px black,
        2px 2px 4px black,
        -2px -2px 4px black,
        2px -2px 4px black,
        -2px 2px 4px black,
        2px 2px 4px black,
        -2px -2px 4px black,
        2px -2px 4px black,
        -2px 2px 4px black;
}

/* Grid layout of webpage */
.grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-rows: 1fr 1fr
}

.eng_text {
    grid-area: 1 / 1 / 2 / 3;
}

.steve_one {
    grid-area: 1 / 3 / 2 / 4;
}

.steve_two {
    grid-area: 2 / 1 / 3 / 2;
}

.tp_text {
    grid-area: 2 / 2 / 3 / 4;
}

/* Center steves */
:is(.steve_one, .steve_two) {
    margin: 0 auto;
}